.ion-padding{
  background-color: #1affa6 !important;
  padding: 0;
  bottom: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.card{
  background-color: #1affa6;
  margin: auto;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
